# Visual Studio
.vs/
*.suo
*.user
*.ncb
*.aps
*.bsc
*.obj
*.ilk
*.pch
*.pdb
*.pgc
*.pgd
*.res
*.sbr
*.tlb
*.tlh
*.tli
*.tmp
*.log
*.bak
*.old
*.exe
*.dll
*.lib
*.exp
*.map
*.ipch/
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.log
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.user.bak
*.vcxproj.user.old
*.vcxproj.bak
*.vcxproj.old
*.sln.docstates
*.sdf
*.cache
*.opendb
*.log
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.msc
*.msc.bak
*.msc.old
*.msc.user
*.msc.user.bak
*.msc.user.old
*.wrk
*.aps
*.res
*.rc
*.rgs
*.def
*.manifest
*.vsprops
*.props
*.targets
*.filters
*.rules
*.natvis
*.natjvis
*.natstepfilter
*.natvis
*.codeanalysis
*.codereview
*.pkgdef
*.pkgundef
*.pkgundef.bak
*.pkgundef.old
*.wixobj
*.wixpdb
*.wixproj.user
*.wixproj.filters
*.wixproj.user.bak
*.wixproj.user.old
*.wixproj.bak
*.wixproj.old
*.vdproj
*.vdproj.user
*.vdproj.filters
*.vdproj.user.bak
*.vdproj.user.old
*.vdproj.bak
*.vdproj.old

# NuGet
packages/
*.nupkg
*.snupkg
*.lock.json

# ReSharper
*.resharper

# Test Results
TestResults/

# User-specific files
*.local